<p>Hi <%= @course.instructor.name %>,</p>

<p>One more student enrolled your course</p>

<p>
  Name: <%= @course.name %><br>
  Description: <%= @course.description %><br>
  Status: <%= @course.status %>
  Student:  <%= @student.name %>
</p>

<p>Best,</p>
<p>Your Team</p>
