<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand pl-2">eLEARNING</span>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="navbar-nav">
      <div class="nav-item ">
        <%= link_to 'Home', root_path %>
      </div>
      <div class="nav-item">
        <%= link_to 'Available courses', courses_path %>
      </div>
      <% if policy(Course).enroll?  %>
        <div class="nav-item">
          <%= link_to 'Enrolled courses', enrollments_path %>
        </div>
      <% end%>
      <% if instructor_signed_in? && policy(Course).create? %>
        <div class="nav-item">
          <%= link_to 'Add new course', new_course_path %>
        </div>
      <% end %>
      <div class="vr"></div>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#"  data-bs-toggle="dropdown" aria-expanded="false">Account</a>
        <ul class="dropdown-menu">
          <li>
            <div class="dropdown-item">
              <%= instructor_signed_in? ? link_to('Show details', instructors_path) : link_to('Show details', students_path) %>
            </div>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <div class="dropdown-item" href="#">
              <%= instructor_signed_in? ? link_to('Sing out', destroy_instructor_session_path, method: :delete, data: { turbo_method: :delete }) : link_to('Sing out', destroy_student_session_path, method: :delete, data: { turbo_method: :delete }) %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
