<%= render 'courses/search_form.html.erb' %>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col"><%= sort_link(@q, :name, 'Course Name', default_order: :asc) %> </th>
        <th scope="col"><%= sort_link(@q, :description, 'Description', default_order: :asc) %>  </th>
        <th scope="col"><%= sort_link(@q, :status, 'Status', default_order: :asc) %> </th>
        <th scope="col"><%= sort_link(@q, :students_count, 'Students count', default_order: :asc) %> </th>
        <th scope="col">Tags</th>
        <th scope="col">Links</th>
      </tr>
    </thead>
    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.truncated_name%></td>
          <td><%=course.truncated_description%></td>
          <td><%= course.status %></td>
          <td><%= course.students_count %></td>
          <td>
            <% course.tags.each do |tag| %>
              <%= link_to courses_path(tag: tag.name) do %>
                <span class="badge rounded-pill bg-light text-dark"><%= tag.name %></span>
              <% end %>
            <% end %>
          </td>
          <td>
            <% if current_instructor %>
              <%= link_to 'Show', course %>
            <% end%>
            <% if policy(Course).update?  %>
              <%= link_to 'Update', edit_course_path(course) %>
            <% end%>
            <% if policy(Course).destroy?  %>
              <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end%>
            <% if policy(Course).enroll? %>
              <%= link_to 'Enroll in Course', course_enrollments_path(course), method: :post, data: { confirm: 'Join course?' }%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pagination-container">
    <div class="d-flex justify-content-center">
      <%= paginate @courses.object, class: 'pagination-grey' %>
    </div>
  </div>
</div>
