<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
  <h3>New Course</h3>
  <%= form_with(model: @course, local: true) do |form| %>
    <div data-mdb-input-init class="form-outline mb-2">
      <%= form.text_field :name,
                          autofocus: true,
                          autocomplete: 'name',
                          placeholder: 'course name',
                          class: 'form-control' %>
    </div>
    <div data-mdb-input-init class="form-outline mb-2">
      <%= form.text_field :description,
                          autofocus: true,
                          autocomplete: 'description',
                          placeholder: 'course description',
                          class: 'form-control' %>
    </div>

    <div data-mdb-input-init class="form-outline mb-3">
      <%= form.select :tags,
                      options_for_select([%w[Music music],
                                          %w[Languages languages],
                                          %w[Maths maths]]),
                      { selected: '', disabled: '', prompt: 'Select your course tag' },
                      class: 'form-control'
      %>
    </div>
    <div class="actions">
      <%= form.submit 'Submit', class: 'btn btn-secondary btn-block'%>
      <%= link_to 'Back', courses_path, class: 'btn btn-secondary btn-block'%>
    </div>
  <% end %>
</div>

